# Data directory
Data/

# Virtual environment
stsg_venv/
seg_cls_venv/
stgs_sam_env/

# Git directory
.git/

# Auth

auth/

.tmp/

src/__pycache__
src/classifier/ __pycache__
__pycache__/
**/__pycache__/

models/
mask_gen/

yolov5/
Results/